a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  background: rgb(240,240,240);
  background: linear-gradient(135deg, rgba(240,240,240,1) 0%, rgba(226,230,237,1) 100%);
  border-radius: 5px;
  border: solid black 1px;
}

button {
  margin-bottom: 8px;
}

nav {
  background: rgb(95,146,250);
  background: linear-gradient(135deg, rgba(95,146,250,1) 0%, rgba(119,150,150,1) 100%); 
  border-bottom: solid black 1px;
}

.mb-8 {
  margin-bottom: 100px;
}

body {
  background: rgb(95,146,250);
  background: linear-gradient(135deg, rgba(95,146,250,1) 0%, rgba(119,150,150,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 20% 50%;
  }

  50% {
      background-position: 80% 30%;
  }

  100% {
      background-position: 20% 50%;
  }
}

.temperatura {
  font-size: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.umidade {
  margin-bottom:0px;

}

.sensacao {
  margin-bottom: 0px;

}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
  color: black;
  font-size: 20px;
}

footer > p {
  margin: 25px;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

.display {
  display:none;
}