a {
  margin-left: 10px;
}

.container {
  background-color: #DFD4FF;
  border-radius: 5px;
  border: solid 2px;
  border-color: #B5C0FF;
}

button {
  margin-bottom: 8px;
}

nav {
  background: rgb(83,42,42);
  background: linear-gradient(62deg, rgba(83,42,42,1) 26%, rgba(71,26,26,1) 54%, rgba(25,23,23,1) 100%); 
}